.center{
    height: 250px;
    font-size: 50px;
    margin: 50px;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black 1px;
}
body{
    background: rgb(231, 94, 15);
}

@media screen and (max-width: 400px){
    .center{
        width: 50%;
        font-size: 20px;
    }
}
