body{
    background: green;
}
.bg-red{
    background-color: red;
}
#especial{
    background-color:  black;
    color: green;
}
.clase1{
    text-align: center;
    color: gray;
}
.clase2{
    text-align: left;
    color: blueviolet;
}
.clase3{
    text-align: right;
    color: aqua
}
.p1{
    color: orangered;
}
.SOYIMG1{
    color: black
}
.A1{
    color: red;
}
.br1{
    color: black;
}
.TABLA1{
    background-color: azure;
    color:  black;
    border: 3px solid black;
}
.TABLA1 tr{
    background-color: azure;
    color:  black;
    border: 3px solid black;
}
.lista1{
    background-color: beige;
    color: black;
}
.lista2{
    background-color: antiquewhite;
    color: black;
}
