p{
    margin: 0;
    background-color:black;
}
.parrafo1{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.parrafo2{ 
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;

}