body {
    background-color:gray;
}
h1 {
    font-family: 'Arial Helvetica', sans-serif;
    color: rgb(240, 26, 18);
}

p {
    font-family: 'Montserrat', sans-serif;
    color: gray;
}
.link1 {
    font-family: 'Jua', sans-serif;
    font-weight: 800
}
.link2 {
    font-family: 'Jua', sans-serif;
    font-weight: 800
}
div {
    font-family: 'Lora', serif;
}
img{
    align-items: center;
}