body{
	margin: 0;
}
.header{
	background-color: black;
	color: white;
	width:100%;
	height: 50px;

}
.navigationDrawer{
	position: fixed;
	top:0;
	background: black;
	width:240px;
	height: 100vH;
	color: white;
	transform: translateX(-100%);
	transition: transform 800ms ease-out;
}
.openDrawer{
	transform: translateX(0);
}
.sideDrawer{
	margin-left: 10px;
	background: black;
	height: 50px;
	border: 0;

}
.itemNav{
	width: 50px;
	height: 5px;
	background: white;
	display: block;
	margin: 5px 0px;
}
#icon{
	display: block;
}
.mobileItems{
	float: left;
	display: block;
	color: white;
	padding: 20px 5px;
	font-size: .5cm;
}
.botonCierre{
	margin: 0;
	margin: 4px 0px 0 4px;
	width: 2cm;
	height: 1cm;
}
li{
	list-style-type: none;
}

h2, p{
    margin: 0;
    font-size: 2cm;
    color: white;
    padding-top: 200px;
    text-align: center;
}
section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/*@media screen and (max-width: 600px){
	h2, p{
		font-size: 1cm;
		padding-bottom: 0px;
	}
}*/