body{
    margin: 0;
}
header{
    background-color: firebrick;
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px, white;
    margin: 0;
}
.img1{
    float: right;
    height: 60px;
}
.encabezado{
    padding-top: 10px;
}
 

/*seccion1 ul{
	clear: left;
	background-color: rgb(23, 151, 98);
	margin: 0px;
    padding: 10zpx 0px;
}
li{
    box-shadow: 0 0 1px 1px black;
	display: inline;
    padding: 0px 50px;
    margin: 0px 3px;
}