body{
    background-color: black;
    color: rgba(136, 255, 16, 0.904);
}
.formulario{
    color: rgba(136, 255, 16, 0.904);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.formulario > input{
    background-color: black;
    color: rgba(136, 255, 16, 0.904);
}