

body{
    margin: 0;
}

.logoNav{
    height: 50px;
    align-items: center;
    text-decoration-style: none;
    float: left;
}
.textParagraph2{
    width: 100%;
    text-align: center;
    margin-left: 0px;
    position: absolute; 
    color: white;
    /*top: 50%;*/
    /*left: 50%;*/
    /*font-size: 30px;*/
    font-size: 22px;
    box-sizing: border-box;
    top: 150px;
}
.textParagraph{
    width: 100%;
    text-align: center;
    margin-left: 0px;
    position: absolute;
    color: white;
    /*top: 50%;*/
    /*left: 50%;*/
    /*font-size: 30px;*/
    font-size: 20px;
    box-sizing: border-box;
    top: 200px;
}

.imgSection{
    width: 100%;
    height: 100vh;
}

.mainHeader{
    height: 54px;
    background: transparent;
    padding: 15px 20px;
    background: black;
    position: fixed;
    width: 100%;
    display: inline-block;
    z-index: 1;
}

.itemsNavMenu{
    font-size: 16px;
    align-content: center;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    text-decoration-color: white;
    display: none;
    /*sin display en @media*/
}

.a1{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 20px;
}
.ultimo{
    margin-right: 100px;
}

.mainSection{
    height: 100%;
    
    background-size: cover;
    background: white;
}

.borderLeft{
    border-left: 5px solid green;
     
}

.webDesignButton{
    text-decoration: none;
    text-align: center;
    width: 100px;
    display: block;
    background: #fff;
    color: #000;
    border: 3px solid #000;
    font-weight: bold;
}
.webDesignButton:hover{
    display: block;
    background: #000;
    color: #fff;
    transition: all 0.5s ease-in;
    border: 3px solid #1f571d;
}

.webDesignSection{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url('../ImgS5/web2.jpg')
}

.bgimg{
    height: 100%;
    width: 100%
}

.web{
    /*float: left;*/
    /*width: 50%;*/
    width: 80%;
    padding: 10px 10px 20px 10px;
    border: 2px solid #BFBFBF;
    box-shadow: 10px 10px 5px #aaaaaa;
    /*margin: 0;*/
    margin-left: 20px;
    background-color: white;
    /*height: 250px;*/
    height: 180px;
}

.webDesignDescription{
    /*font-size: 15px;*/  
    font-size: 10px;  
    text-align: center;
    display: inline-block;
    background-color: white;
    width: 100%;
}

.web2{
    background-color: white;
    /*float: right;*/
    /*width: 50%;*/
    width: 80%;
    padding: 10px 10px 20px 10px;
    border: 2px solid #BFBFBF;
    box-shadow: 10px 0px 5px 10px #aaaaaa;
    /*margin: 0;*/
    margin-left: 20px;
    margin-top: 20px;
    /*height: 250px;*/
    height: 180px;
}

.webDesignTitle{
    font-size: 20px;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .web{
        margin-left: 50px;
    }
    .web2{
        margin-left: 50px;
    }
    .textParagraph2{
        font-size: 30px;
    }
    .textParagraph{
        font-size: 25px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .itemsNavMenu{
        display: inline-block;
    }
    .textParagraph2{
        font-size: 40px;
        top: 30%; 
    }
    .textParagraph{
    top: 50%;
    font-size: 30px;
    }
    .web{
        float: left;
        width:50%;
        margin: 0;
        height: 250px;
        margin-right: 10px;
    }
    .web2{
        float: right;
        width: 50%;
        margin: 0;
        height: 250px;
        margin-top: 30px;
        box-shadow: -6px -7px 3px 6px #aaaaaa;
        margin-right: 10px;
    }
    .webDesignDescription{
        font-size: 15px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 