body{
    margin: 0;
}

.barra-roja{
    background-color: red;
    height: 50px;
}

.amarillo-final{
    display: none;
    width: 100%;
    height: 200px;
    background-color: yellow;
}

.barra-naranja{
    background-color: orange;
    height: 150px;
}

.fondo-rosa{
    background-color: pink;
    height: 300px;
    width: auto;
    margin-top: 10px;
    margin-right: 10px;
}

.cuadrito-amarillo{
    margin-top: 10px;
    width: 49%;
    background-color: yellow;
    display: inline-block;
    height: 300px;
}

p{
    margin: 0;
    color: solid black;
    font-size: 20px;
    text-align: center;
}

.verde{
    background-color: green;
    height: 400px;
    width: 100%;
    margin-top: 10px;
}

.sub-contenedor-izq{
    width: 70%;
    float: left;
}

.contenedor-derech{
    width: 25%;
    height: 400px;
    float: right;
    margin-right: 20px;
}

.azul{
    background-color: blue;
    height: 100%;
    margin-top: 10px;
}

.verde2{
    background-color: green;
    height: 0;
    width: 333px;
    margin-top: 10px;
    visibility: hidden;
}

.nuevoazul{
    background-color: blue;
    height: 0;
    width: 100%;
    visibility: hidden;
}

@media screen and (max-width: 930px){
    .amarillo-final{
        display: none;
    }

    .barra-naranja{
        margin: 10px 0px;
    }

    .verde2{
        margin: 10px 0px;
        visibility: visible;
        height: 150px;
        width: 20%;
        display: inline-block;
    }

    .nuevoazul{
        margin-top: 10px;
        visibility: visible;
        height: 300px;
        width: 100%;
    }

    .azul{
        display: none;
    }

    .barra-naranja{
        width: 79%;
        display: inline-block;
    }

    .verde{
        display: none;
    }

    .cuadrito-amarillo{
        display: none;
    }

    .cuadrito-amarillo:first-of-type {
        display: block;
        width: 100%;
        margin: 10px 0px;
    }

    .contenedor-derech{
        display: block;
    }

    .fondo-rosa{
        width: 100%;
    }

    .sub-contenedor-izq{
        width: 100%;
    }

}

@media screen and (max-width: 510px){
    .amarillo-final{
        display: block;
        margin-bottom: 10px;
    }

    .verde2{
        width: 100%;
        margin: 0;
        height: 200px;
        margin-bottom: 10px;
    }

    .barra-naranja{
        width: 100%;
        height: 200px;
        margin: 0;
        margin-bottom: 10px;
    }

    .amarillos{
        order: 1;
        display: flex;
        flex-direction: column;
        margin: 0;
        display: none;
    }

    .fondo-rosa{
        width: 100%;
        margin: 0;
        height: 200px;
        margin-bottom: 10px;
    }

    .nuevoazul{
        width: 100%;
        margin: 0;
        height: 200px;
        margin-bottom: 0px;
    }
}
