body{
	margin: 0;
	padding: 0;
}
img{
    width: 20%;
    height: 20%;
}
h2, p{
    margin: 0;
    font-size: 1cm;
    color: black;
    padding-top: 150px;
    text-align: center;
}
section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}