body{
    margin: 0;
}
.header{
    background-color: red;
    width: 100%;
    height: 50px;
    margin-left: 0px;
    margin-right: 10px;
    text-align: center;
}
.naranja{
    background-color: orange;
    width: 100%;
    height: 150px;
    /*margin-left: 10px;
    margin-right: 10px;*/
    text-align: center;
}
.verde2{
    display: none;
    background-color: green;
    height: 150px;
    width: 100px;
    /*margin-top: 10px;*/
    
}
.sub1{
    margin-left: 10px;
    margin-right: 10px;
}
/*.n{
    font-size: 15px;
    align-content: center;
}*/
.uno{
    width: 49%;
    background-color: yellow;
    display: inline-block; 
    border: 1px solid black;
    height: 300px;
    text-align: center;
            font-size: xx-large;
}
.sub2{
    background-color: palevioletred;
    height: 400px;
    margin-left: 10px;
    margin-right: 15px;
    border: 1px solid black;

}
.cuadros{
    float: left;
    width: 66%;
}
.verde{
    background-color: green;
    width: 70%;
    height: 410px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
}
.azul{
    background-color: blue;
    width: 70%;
    height: 410px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
}
.left{
    float: right;
    width: 33%;
}
.rosa{
    width: 66%;
}

/*@media screen and (min-width: 548px){
     .verde{
         display: none;
    }
    .verde2{
        float: right;
    }
    .n{
        display: none;
    }
    .dos{
        display: none;
    }
    .tres{
        display: none;
    }
    .cuatro{
        display: none;  
    }
    .uno{
        width: 100%;
        height: 200px;
    }
}*/
/*@media screen and (min-width: 350px){
    body{
        display: flex;
    }
    .header{
        order: 1;
    }
    .uno{
        width: 100%;
        height: 200px;
        order: 2;
    }
}*/
