body{
	margin: 0;
}
h1{
    color: rgb(40, 87, 173);
    font-family: 'M PLUS 1p', sans-serif;
}
hr{
    color: rgb(40, 87, 173);
}
#p2{
    padding-left: 200px;
}

.seccion1{
	padding-left: 150px;
	padding-right: 150px;
}
.tituloT1{
    font-size: 30px;
    font-family: 'M PLUS 1p', sans-serif;
}
.seccion2{
    padding-left: 150px;
    width: 100vw;   
}
.s-line1{
    background-color: rgb(252, 246, 238);
}
.s-line2{
    background-color: rgb(139, 139, 139);
}
.seccion2 > #tablaGrande1{
    font-family: 'M PLUS 1p', sans-serif;
	position: relative;
    float: left;
    width: 76%;
}
#tablaGrande1 > tr, td{
	text-align: left;
    border: 1px solid black;
    width: 100vw
}
#encabezado{
    background-color: rgb(66, 66, 66);
    font-family: 'M PLUS 1p', sans-serif;
    color: white;
}
.seccion11{
	padding-left: 150px;
	padding-right: 150px;
}
.tituloT2{
    font-size: 30px;
    font-family: 'M PLUS 1p', sans-serif;
}
.seccion3{
    padding-left: 150px;
    width: 100vw;   

}
.seccion3 > #tablaGrande2{
    font-family: 'M PLUS 1p', sans-serif;
	position: relative;
    float: left;
    width: 76%;
}
#tablaGrande2 > tr, td{
	text-align: left;
    border: 1px solid black;
    width: 100vw
}

/*.seccion2 > #encabezado{
	width: 100vw;
    padding: 0px 60px;
    text-align: left;
    background-color: darkgray;
}
/*position: relative;
    float: left;
    width: 100vw;
    width: 33%;
    border: 2px solid black;
    box-shadow: 0 0 1px 1px black;
    background-color: rgb(245, 207, 160)
/*.seccion2 table td{
    width: 100vw;
    padding: 0px 60px;
    text-align: center;
}

/*#tablaGrande1 tr td{
    display: inline-block;
    width: 70vw;
    border: 2px solid black;
    box-shadow: 0 0 1px 1px black;
}

#encabezado> tr ,td{
    display: inline-flex;
    float: right;
    background-color: darkgray;
}*/
