body {
    background-color: rgb(91, 248, 196);
    margin: 0;
}
.seccion1{
    margin: 40px 0px;
    font-size: 50px;
    text-align: center;

}
.seccion1 img{
    width: 150px;
    height: 140px;
}
.seccion1 h1{
    font-size: 70px;
    border: 2px solid black;
    box-shadow: 0 0 1px 1px black;
}
.seccion1, h3{
    font-size: 35px;
}
.seccion2{
    background-color: rgb(245, 207, 160)
}

.seccion2> button{
    color: inherit;
    text-align: center;
}
.seccion2 table td{
    width: 100vw;
    padding: 0px 60px;
    text-align: center;
}
.seccion3 > * {
    position: relative;
    float: left;
    width: 100vw;
    width: 33%;
    border: 2px solid black;
    box-shadow: 0 0 1px 1px black;
    background-color: rgb(245, 207, 160)
}
.seccion3>tr,td{
    border: 1px solid black;
    width: 100vw;

}
/*.seccion3, table, #tablaComida, #tabaBebida, #tablaPostres{
    background-color: rgb(245, 207, 160);
    text-align: center;
    font-size: 20px;
}
#tablaComida, #tabaBebida, #tablaPostres {
    width: 33.33%;
    border: 2px solid black;
    box-shadow: 0 0 1px 1px black;
}
/*
.seccion3, tr,td{
    border: 2px solid black;
    box-shadow: 0 0 1px 1px black; 
}*/

@media screen and (max-width: 750px){
    .seccion1 h1{
        font-size: 40px;
        border: 2px solid black;
        box-shadow: 0 0 1px 1px black;
    }
    .seccion2 table td{
        align-content: center;
        margin-left: 50%;
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 490px){
    .seccion1 h1{
        font-size: 40px;
        border: 2px solid black;
        box-shadow: 0 0 1px 1px black;
    }
    .seccion2 table td{
        align-content: center;
        margin-left: 50%;
        width: 50px;
        display: block;
    }
}