body{
	margin: 0%;
}
img{
	position: fixed;
    width: 2cm;
    height: 2cm;
    padding-left: 70px;
    padding-top: 15px;
}
.seccion1{
	width: 100vw;
    height: 100px;
    padding: 0px 0px;
    
}
.seccion1 h1{
	color:  white;
	background-color: rgba(8, 233, 233, 0.658);
	margin: 0%;
	padding-left: 200px;
    padding-top: 20px;
    height: 80px;
    text-align: left;
    font: 50px sans-serif;
}
.seccion1 ul{
	clear: left;
	background-color: rgb(23, 151, 98);
	margin: 0px;
    padding: 10zpx 0px;
}
li{
    box-shadow: 0 0 1px 1px black;
	display: inline;
    padding: 0px 50px;
    margin: 0px 3px;
}
.seccion2{
    padding: 50px 0px;
}
.seccion2, h2, p{
	color: solid black;
    text-align: center;
}
.seccion3 tr td{
    width: 100%;
    display: inline-block;
    text-align: center;
}
#block1{
    display: block;
    width: 33.33vw;
    float: left;
}
#block2{
    display: block;
    width: 66.66vw;
    float: left;
}
#block3{
    display: block;
    width: 99.99vw;
    float: left;
}
.seccion4 {
    align-content: center;
}
.seccion3 *{
    width: 30%;
    display: inline-block;
}

.navigationDrawer{
	position: fixed;
	top:0;
	background: black;
	width:240px;
	height: 100vH;
	color: white;
	transform: translateX(-100%);
	transition: transform 800ms ease-out;
}
.openDrawer{
	transform: translateX(0);
}
.sideDrawer{
	background: black;
	height: 50px;
	border: 0;

}
.itemNav{
	width: 50px;
	height: 5px;
	background: white;
	display: block;
	margin: 5px 0px;
}
.mobileItems{
	display: block;
	color: black;
	padding: 20px 5px;
	font-size: .5cm;
}
.botonCierre{
	margin: 0;
	margin: 4px 0px 0 4px;
	width: 2cm;
	height: 1cm;
}

@media only screen and (max-width: 600px) {
    .img0{
        display: none;
    }
    .seccion1 ul{
        display: none;
    }
    .sideDrawer{
        display: none;
    }
    .navigationDrawer{
        display: none;
    }

} 