#contenedor{

  margin: auto;
  margin-top: 60px;
  width: 900px;
  height: 300px;
  border: 1px solid black;
}

#uno{
  width: 300px;
  height: 300px;
  background-color: red;
  float: left;
}

#dos{
  width: 300px;
  height: 300px;
  background-color: black;
  float: left;
}

#tres{
  width: 300px;
  height: 300px;
  background-color: blue;
  float: left;
}
