body{
    background-image: url(../ImgS3/sp_vORIGIN_2015.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    width: 100%;
    height: 100%;
}
.sec1{
    margin-top: 200px;
}
h1, h2{
    padding-top: 10px;
    color: black;
    font-family: 'M PLUS 1p', sans-serif;
}

h1,h2{
    text-align: center;
}

button{
    margin-left: 48%;
}

