body{
    background-color: white;
    font-family: 'M PLUS 1p', sans-serif;
    color: rgba(31, 51, 168, 0.973);
    margin:0;
    
}
.seccion1{
    padding-left: 20px;
}
nav{
    background-color: rgba(143, 143, 143, 0.301);
    color: rgba(31, 51, 168, 0.973);
    width: 100%;
    position: fixed;
}
nav li{
    display: inline;
    margin:0;
    padding-left: 5px;
    padding-top: 15px;
    color: rgba(31, 51, 168, 0.973);
}
nav ul{
    padding-left: 10px;
}
.seccion2{
    padding: 10px, 20px, 30px, 10px;
    margin: 0%;
}
.seccion2 > image{
    float: left;
    width: 30%;
}
.seccion2 > p{
    float: right;
    width: 70%; 
}
.seccion2 > em{
    color: solid rgba(31, 51, 168, 0.973);     
}

@media screen and (max-width: 600px){
    nav{
        display: none;
    }
    h1{
        text-align: center;
    }
    p{
        text-align: center;
        margin-right: 50px;
    }
}